.collection {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	height: auto;
}

.collection-title {
	margin: 0 5% 0.5rem;
}

.card-group {
	display: flex;
	margin: 0 5%;
	gap: 20px;
	overflow: hidden;
	padding-bottom: 1rem;
	cursor: grab;
}

.card-group:active {
	cursor: grabbing;
}
