.search-container {
	position: fixed;
	top: 0;
	left: 0;
	height:100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	animation: fadeIn 0.15s ease-in forwards;
	opacity: 0;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.search-bar {
    width: 70%;
    padding: 0.8rem;
    margin: 3rem 1rem 2rem;
	border: 1px solid transparent;
	border-radius: 4px;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	color: hsl(0, 0%, 25%);
}

.search-bar:focus {
	border: 1px solid #d3d3d3;
	outline: none; /* Removes the default blue outline */
	box-shadow: 0 0 3px #d3d3d3; /* Adds a subtle shadow effect */
}

.search-results {
	width: 70%;
	height: 70%;
    overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #d3d3d3 transparent;
}

/* For WebKit browsers (Chrome, Safari, etc.) */
.search-results::-webkit-scrollbar {
    width: 8px; /* Sets the width of the scrollbar */
}

/* .search-results::-webkit-scrollbar-track {
    background: transparent;
} */

.search-results::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    border-radius: 10px;
}

.search-item {
	width: 100%;
	height: 4rem;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 1rem 0.5rem;
	border-top: 1px solid #d3d3d3;
	transition: background-color 0.15s ease-in-out;
}

.search-item:active {
	background-color: #e0e0e0;
	transition: background-color 0.05s ease-in-out;
}

.search-item-image {
    width: 3rem;
    margin: 1rem 0;
}

.search-item-name {
    margin: 1rem 1rem;
	cursor: default;
}

.close-button {
	margin: 2rem;
	margin-bottom: 2rem;
	background-color: transparent;
	border: none;
	color: white;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
  	font-size: 14px;
	letter-spacing: 0.05rem;
}

.close-button:focus {
	font-weight: 600;
}
